<!doctype html>
<html>
<head>

</head>

<body>
<h1> NBA Teams Page </h1>


<table>
	<tr>
		<td> NBA Teams </td>
	</tr>
	<tr>
		<td> Team Name </td>
		<td> Wins </td>
		<td> Losses </td>
		<td> Conference ID </td>
	</tr>
	<tr>
		<td> <a href="http://www.nba.com/blazers/?tmd=1"> TrailBlazers </a> </td>
		<td>49</td>  <!-- change later -->
		<td>33</td>
	</tr>
</table>

<form method = "POST" action="/Teams">
	<fieldset>
		<legend>Team Information</legend>
		<p>Team Name: <input type = "text" name = "TeamName"/> </p>
		<p>Wins: <input type = "text" name = "Wins"/> </p>
		<p>Losses: <input type = "text" name = "Losses"/></p>
		<p>Conference ID: <input type = "text" name = "ConferenceID"/></p>
		<p><input type = "submit" ></p>
	</fieldset>

</form>

</div>

<h3>Current Teams:</h3>
<table>
	<thead> 
		<th>Team ID</th> 
		<th>Team Name</th> 
		<th>Wins</th> 
		<th>Losses</th>
		<th>ConferenceID</th>  
	</thead> 
	<tbody> 
		{{#each Teams}} 
		<tr> 
			<td>{{TeamID}}</td> 
			<td>{{TeamName}}</td> 
			<td>{{Wins}}</td> 
			<td>{{Losses}}</td> 
			<td>{{ConferenceID}}</td>
			<td><button onclick="deleteTeam({{id}})">Delete</button></td>
			<td><a href="/Teams/{{id}}">Update</a></td>
		</tr> 
		{{/each}} 
	</tbody> 
</table> 


</body>
</html>
